<body>
  <div class="container">
      <article>
            <h1 class="fw-bolder fst-italic text-center">REGISTRO</h1> 
            <h5 class="fst-italic text-center">¡Hola!, bienvenido a nuestro formulario el cual te registrarias para el ingreso a nuestra biblioteca, por favor digiteme los datos pertinentes, muchisimas gracias.</h5> 
            <h2 class="fw-bolder fst-italic">_______________________________________________________________________________________</h2><br>
          
            <div class="row">
                <div class="col-xl-6 col-lg-6  col-md-6  col-sm-6 col-6  ">
                  
                        <form  autocomplete="off" >
                        <label class="fw-bolder fst-italic">NOMBRES</label> <br>
                        <input type="text" class="form-control" [(ngModel)]="selectedRegisterObj.nombre" name="nombre"> <br>  
                        
                        <label class="fw-bolder fst-italic">APELLIDOS</label> <br>
                        <input type="text" class="form-control" [(ngModel)]="selectedRegisterObj.apellido" name="apellido"> <br>
                        
                        <label class="fw-bolder fst-italic">CEDULA</label> <br>
                        <input type="text" class="form-control" [(ngModel)]="selectedRegisterObj.cedula" name="cedula"> <br>

                        <label class="fw-bolder fst-italic">CORREO ELECTRONICO</label> <br>
                        <input type="email" class="form-control" [(ngModel)]="selectedRegisterObj.correo" name="correo"> <br> 
  
                        <label class="fw-bolder fst-italic"> CONTRASEÑA</label> <br>
                        <input type="password" class="form-control" [(ngModel)]="selectedRegisterObj.pass" name="pass"><br>                       
                        
                          <button type="button" class="btn btn-primary fw-bolder fst-italic" (click)="agregar()">Registrar</button>                
                          <button type="button" [disabled]="btnDisabled" class="btn btn-warning fw-bolder fst-italic mx-3" (click)="guardarEdit()" > Guardar Cambios</button>                     
                         <br><br>
                          <h6 class="fw-bolder fst-italic">¿Quieres saber la relacion de cada una de las tablas? <a href="../../../assets/img/Modelo entidad-relacion-Biblioteca.png" target="_blank" class="fw-bolder fst-italic text-center" >Ver</a></h6>
                        </form>
                        
                 </div>
                 <div class="col-xl-6 col-lg-6  col-md-6  col-sm-6 col-6 text-center ">
                   
                  <img src="../../../assets/img/REGISTRO.jpg" width="500">
                
                </div>
            </div>
            
              <h2 class="fw-bolder fst-italic">_______________________________________________________________________________________</h2>
            
             <br>
            
            <div class="row">
              
              <div class="col-xl-8 col-lg-8  col-md-8  col-sm-8 col-8  ">
               
                <table class="table table-hover table-dark fst-italic">
                  <thead *ngIf="mostrar === true">  
                   <tr>
                   <th>ID</th> 
                   <th>Nombre</th>
                   <th>Apellido</th>
                   <th>Cedula</th> 
                   <th>Email</th> 
                   <th>Contraseña</th>  
                   <th class="text-center">Opcion</th>
                   </tr>   
                 </thead>
                 <tbody>
                   <tr *ngFor="let register of userList;let i= index">
                     
                     <td>{{register.id}}</td>
                     <td>{{register.nombre}}</td>
                     <td>{{register.apellido}}</td>
                     <td>{{register.cedula}}</td>
                     <td>{{register.correo}}</td>
                     <td>{{register.pass}}</td>
                     <td>
                      <button class="btn btn-sm btn-warning" (click)="editar(register)">Edit</button> 
                      <button class="btn btn-sm btn-danger mx-4" (click)="eliminar(i)">Eliminar</button> 
                     </td>
                    
                   </tr>
                 </tbody>
                 </table> 
              
              </div>
              <div class="col-xl-4 col-lg-4  col-md-4  col-sm-4 col-4  ">
             
              </div>
            </div>
            
            
            <h2 class="fw-bolder fst-italic text-center"> <a [routerLink]="['/principal']">Regresar a la pagina principal</a></h2> 
            <br>    
      </article>
  </div>  
</body>
